<a href="https://colab.research.google.com/github/E-tech-coder/DataScienceCapstoneProject/blob/Michi/Data_Exploration.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!git clone https://github.com/E-tech-coder/DataScienceCapstoneProject.git

Cloning into 'DataScienceCapstoneProject'...
remote: Enumerating objects: 46, done.
remote: Counting objects: 100% (46/46), done.
remote: Compressing objects: 100% (46/46), done.
remote: Total 46 (delta 24), reused 0 (delta 0), pack-reused 0 (from 0)
Receiving objects: 100% (46/46), 475.33 KiB | 4.53 MiB/s, done.
Resolving deltas: 100% (24/24), done.

In [2]:
%cd DataScienceCapstoneProject

/content/DataScienceCapstoneProject

In [3]:
!ls

department-v2.csv		 linkedin_experience_annotated.csv
linkedin-cvs-annotated.json	 README.md
linkedin-cvs-not-annotated.csv	 seniority-v2.csv
linkedin-cvs-not-annotated.json

**Exploration for the seniority csv file**

In [4]:
import pandas as pd

seniority_df = pd.read_csv("seniority-v2.csv")
seniority_df.head()

                                text   label
0                            Analyst  Junior
1                 Analyste financier  Junior
2  Anwendungstechnischer Mitarbeiter  Junior
3               Application Engineer  Senior
4              Applications Engineer  Senior

In [6]:
seniority_df.columns
seniority_df["label"].value_counts()

label
Senior        3733
Lead          3546
Director       984
Management     756
Junior         409
Name: count, dtype: int64

In [9]:
seniority_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9428 entries, 0 to 9427
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   text    9428 non-null   object
 1   label   9428 non-null   object
dtypes: object(2)
memory usage: 147.4+ KB

In [11]:
seniority_df["text"].sample(20)

3580         Geschäftsbereichsleiter Vertrieb + Marketing
4743                           Leiter Affiliate Marketing
9310    SVP Vertrieb und Marketing/Mitglied der Geschä...
7739            Manager International Strategic Marketing
2624             Head of Customer Solutions Billing & CRM
2225              Vertriebsleiter / Senior Sales Director
6873           Account Manager I New Business Development
4255                Leiter Verkauf und Auftragsmanagement
3794                          Prokurist & Vertriebsleiter
7423                    Technischer Support & CRM Manager
2242                               Junior Event Managerin
953                Vertretungsberechtiger Geschäftsführer
3505                                    Teamleiter IT/SAP
8118                  Online Marketing Manager B2B D/A/CH
4261                             Leiter Vetriebsmarketing
3399                                    Teamleiter Online
1055    Geschäftsführung Vertrieb und kfm. Geschäftsfü...
6467                   Freelance Event Manager & Producer
7704            Management Assistant & Marketing Services
9209      Vertriebsleiter / Prokurist / Senior Consultant
Name: text, dtype: object

**Exploration for the department csv file**

In [7]:
department_df = pd.read_csv("department-v2.csv")
department_df.head()

                                               text               label
0                   Adjoint directeur communication           Marketing
1                     Advisor Strategy and Projects  Project Management
2                               Beratung & Projekte  Project Management
3                      Beratung & Projektmanagement  Project Management
4  Beratung und Projektmanagement kommunale Partner  Project Management

In [8]:
department_df.columns
department_df["label"].value_counts()

label
Marketing                 4295
Sales                     3328
Information Technology    1305
Business Development       620
Project Management         201
Consulting                 167
Administrative              83
Other                       42
Purchasing                  40
Customer Support            33
Human Resources             31
Name: count, dtype: int64

In [14]:
department_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10145 entries, 0 to 10144
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   text    10145 non-null  object
 1   label   10145 non-null  object
dtypes: object(2)
memory usage: 158.6+ KB

In [13]:
department_df["text"].sample(20)

8642            Marketing Communications Assistant Europe
1768                            Marketing Messen & Events
987     SAP Consultant - CRM & SD (Implementation proj...
433                                IT-Services Consultant
6904                 Leiter Vertrieb & Projektentwicklung
4646                Head of Department Marketplaces (CRM)
8753                          Marketing Manager Industrie
3029                                     Sales Controller
3022                                 Sales Central Europe
163                      Spécialiste opérations marketing
5633                       Regionalleiter Vertrieb Bayern
6389                               Leiter Sales Marketing
9347                      Global Sales Operations Manager
6747    Abteilungsleiter Programm Management (Vertrieb...
3788                                Director de Marketing
7002            Leiter Vertriebs- und Servicekoordination
3192                  Team Lead Sales Operations A&A EMEA
4540            Head of Operations & Business Development
24                           Chargée de marketing digital
4230                             at ait-deutschland GmbH"
Name: text, dtype: object

**Exploration for Test Data Set**

In [20]:
df = pd.read_csv("linkedin_experience_annotated.csv")
df.head(20)

,organization,linkedin,position,startDate,endDate,status,department,seniority,person_id
0,Depot4Design GmbH,https://www.linkedin.com/company/depot4design-...,Prokurist,2019-08,NaN,ACTIVE,Other,Management,0
1,Depot4Design GmbH,https://www.linkedin.com/company/depot4design-...,CFO,2019-07,NaN,ACTIVE,Other,Management,0
2,Depot4Design GmbH,https://www.linkedin.com/company/depot4design-...,Betriebswirtin,2019-07,NaN,ACTIVE,Other,Professional,0
3,Depot4Design GmbH,https://www.linkedin.com/company/depot4design-...,Prokuristin,2019-07,NaN,ACTIVE,Other,Management,0
4,Depot4Design GmbH,https://www.linkedin.com/company/depot4design-...,CFO,2019-07,NaN,ACTIVE,Other,Management,0
5,Nagel Car Group,NaN,Buchhalterin,2000-05,2019-06,INACTIVE,Other,Professional,0
6,Computer Solutions,https://www.linkedin.com/company/computer-solu...,Solutions Architect,2024-03,NaN,ACTIVE,Information Technology,Professional,1
7,Computer Solutions,https://www.linkedin.com/company/computer-solu...,Senior Network Engineer,2019-07,2024-03,INACTIVE,Information Technology,Senior,1
8,Texas A&M University-Corpus Christi,NaN,Manager of Network Services,2017-02,2019-07,INACTIVE,Information Technology,Professional,1
9,Texas A&M University-Corpus Christi,NaN,Infrastructure Administrator II,2015-06,2017-02,INACTIVE,Information Technology,Professional,1
10,Texas A&M University at Qatar,NaN,Lead Network Engineer,2012-12,2015-06,INACTIVE,Information Technology,Lead,1
11,Texas A&M University at Qatar,NaN,Senior Systems Administrator,2010-02,2012-12,INACTIVE,Information Technology,Senior,1
12,Texas A&M Forest Service,https://www.linkedin.com/company/texasforestse...,Network Systems Administrator II,2006-04,2010-02,INACTIVE,Information Technology,Professional,1
13,MicroAge College Station,https://www.linkedin.com/company/avinext,Support Specialist,2002-10,2006-04,INACTIVE,Customer Support,Professional,1
14,Udo Weber,https://www.linkedin.com/company/udo-weber,Medizintechnik Beratung,2025-01,NaN,ACTIVE,Consulting,Professional,2
15,Med 360°,https://www.linkedin.com/company/med-360-grad,Projektleiter Medizintechnik,2023-01,2024-12,INACTIVE,Project Management,Lead,2
16,Philips,https://www.linkedin.com/company/philips,Nationaler Account-Manager,1987-04,2022-12,INACTIVE,Sales,Professional,2
17,Grupo Viajes Kontiki.,NaN,Director expansión de negocio.,2024-09,NaN,ACTIVE,Business Development,Director,3
18,Air & Ground Operations Consultancy,https://www.linkedin.com/company/agoc-spain,Gerente comercial,2024-04,NaN,ACTIVE,Sales,Lead,3
19,Viajes Oceano S.L.,NaN,Administrador Unico,2010-12,NaN,ACTIVE,Administrative,Professional,3

In [22]:
print("Anzahl Positionen:", len(df))
print("Anzahl Personen (CVs):", df["person_id"].nunique())

Anzahl Positionen: 2638
Anzahl Personen (CVs): 609

In [24]:
df.columns

Index(['organization', 'linkedin', 'position', 'startDate', 'endDate',
       'status', 'department', 'seniority', 'person_id'],
      dtype='object')

In [25]:
df.isna().sum()

organization      0
linkedin        976
position          0
startDate       118
endDate         741
status            0
department        0
seniority         0
person_id         0
dtype: int64

In [26]:
df["status"].value_counts()

status
INACTIVE    1897
ACTIVE       623
UNKNOWN      118
Name: count, dtype: int64

In [27]:
active_per_person = (
    df[df["status"] == "ACTIVE"]
    .groupby("person_id")
    .size()
)

active_per_person.value_counts().sort_index()

1     380
2      78
3      10
4       3
5       4
7       1
8       1
10      1
Name: count, dtype: int64

In [31]:
(df[df["status"] == "ACTIVE"]["seniority"].value_counts())

seniority
Professional    216
Management      192
Lead            125
Senior           44
Director         34
Junior           12
Name: count, dtype: int64

In [32]:
df.groupby("seniority")["position"].apply(lambda x: x.sample(min(5, len(x))))

seniority
Director      858                                    MD / Adm. Direktør
              1785                                          Artdirektor
              211                          Digital Performance Director
              2415    Director of Operations, Process, Change Manage...
              1223                       Director Code Nomads Amsterdam
Junior        2366             Einkaufsassistent Teppiche/Heimtextilien
              1631                                 Phd Student Lecturer
              1661            Research Associate and Doctoral Candidate
              2204                                               Intern
              884                                              Traineer
Lead          382                                       Vertriebsleiter
              734                                  Junior-Projektleiter
              1686                                         Personalchef
              1980    C O Gestion de Patrimoine d’infrastructures/ G...
              597                                   Head of Engineering
Management    1373                                                  CFO
              1238                                       Vice President
              586                                 Founder and President
              2215                                       Vice President
              1460                                      General Manager
Professional  716                               Human Resources Manager
              347                                Theatermaker en acteur
              1431                       Wissenschaftlicher Mitarbeiter
              2149            Spezialist für strategische Kommunikation
              1533    Wissenschaftlicher Mitarbeiter Prozessentwicklung
Senior        242     Senior Manager Experience Consulting for Indus...
              2566                                            Principal
              301     Senior Manager - Global Products and Product L...
              1087                               Senior Program Manager
              302                         Senior Global Product Manager
Name: position, dtype: object

In [33]:
df["department"].value_counts()

department
Other                     1252
Information Technology     312
Sales                      219
Consulting                 195
Project Management         175
Marketing                  133
Administrative              84
Business Development        78
Purchasing                  72
Human Resources             70
Customer Support            48
Name: count, dtype: int64

In [35]:
(df[df["status"] == "ACTIVE"]["department"].value_counts())

department
Other                     344
Information Technology     62
Sales                      46
Consulting                 39
Project Management         39
Marketing                  22
Business Development       20
Human Resources            16
Purchasing                 15
Administrative             14
Customer Support            6
Name: count, dtype: int64

In [36]:
df.groupby("department")["position"].apply(lambda x: x.sample(min(5, len(x))))

department
Administrative          650                           Kollaborationsadministrator
                        24                               APL-ansvarig, samordning
                        1642                                         Desk Officer
                        1125                              Verwaltungsangestellter
                        975                               Student Records Manager
Business Development    30                                       Affärsutvecklare
                        749                                               Partner
                        98                                         Senior Partner
                        2357    Manager Regional Business Development and Govt...
                        1339    Business Development Director CZ, SK, SI, CR, ...
Consulting              436                                      Lehrbeauftragter
                        279                          Principal Inbound Consultant
                        575                                     Principal Advisor
                        2261                                          SAP Berater
                        1916                                           Consultant
Customer Support        1114                             Étudiant Service clients
                        266           Technical Customer Service - Tapes & Labels
                        1583                              Client Service Director
                        533                       Customer Support Manager Europa
                        530                Business Manager Customer Support EMEA
Human Resources         2583    Operations Supervisor / Human Resources Genera...
                        2574    Vice President, Human Resources, Health & Secu...
                        573                        Executive Director HR Services
                        1292                                           HR-Manager
                        1162                               Associate HR Recruiter
Information Technology  1452                       IT Support Specialist - Intern
                        2188                               Information Specialist
                        1279          Head of IT Services & Operations Management
                        11                           Senior Systems Administrator
                        654                           Employee Webpage Management
Marketing               1919                              Vorstandsassistent, CMO
                        1133                                   Head of E-Commerce
                        1826                          Leiter Vertrieb & Marketing
                        286                                Brand Marketing Intern
                        1347                                  Marketing assistant
Other                   117                                  Senior Legal Counsel
                        2219                                   Finance controller
                        1576                            Banking Book Risk Manager
                        1255                             Plant Production Manager
                        158       Member Of The Management Board (HR and Finance)
Project Management      1177                                      Project Manager
                        1595                             Product Owner & Teamlead
                        2317                               Change Management Lead
                        2016                          Project Coordinator Finance
                        2050    Communications Project Manager Cardio-Metaboli...
Purchasing              2026                         Head of Strategic Purchasing
                        2609    Advanced Purchasing - Commercial Vehicles and ...
                        1047                                Export Manager Europe
                        1191                                            Einkäufer
                        619     OÖ Koordinator für das Team der Bereiche Besch...
Sales                   512                                     Director of Sales
                        1666                                 Sales Representative
                        1846                                                 客户经理
                        606                                District Sales manager
                        698                          Co-Head of Bid Management CE
Name: position, dtype: object

In [37]:
df["position"].str.len().describe()

count    2638.000000
mean       25.417362
std        15.676110
min         1.000000
25%        15.000000
50%        21.000000
75%        32.000000
max       100.000000
Name: position, dtype: float64

In [38]:
df["position"].value_counts().head(15)

position
Geschäftsführer                      41
Managing Director                    22
CEO                                  20
Consultant                           18
Project Manager                      16
Owner                                12
Vice President                       11
Director                             11
Senior Project Manager               11
General Manager                      10
Partner                              10
Geschäftsführender Gesellschafter     9
Unternehmensinhaber                   9
Senior Consultant                     9
Rechtsanwalt                          8
Name: count, dtype: int64