<a href="https://colab.research.google.com/github/E-tech-coder/DataScienceCapstoneProject/blob/Elena/RuleBasedDepartment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!git clone https://github.com/E-tech-coder/DataScienceCapstoneProject.git

Cloning into 'DataScienceCapstoneProject'...
remote: Enumerating objects: 70, done.
remote: Counting objects: 100% (70/70), done.
remote: Compressing objects: 100% (70/70), done.
remote: Total 70 (delta 37), reused 0 (delta 0), pack-reused 0 (from 0)
Receiving objects: 100% (70/70), 590.84 KiB | 4.92 MiB/s, done.
Resolving deltas: 100% (37/37), done.

# Simple Bag of Words

In [5]:
import pandas as pd

df = pd.read_csv("/content/DataScienceCapstoneProject/linkedin-cvs-annotatedV5.csv", sep= ";").drop(columns="linkedin").set_index("person_id").reset_index()

In [6]:
df.head(20)

,person_id,organization,position,startDate,endDate,status,department,seniority
0,0,Depot4Design GmbH,Prokurist,2019-08,NaN,ACTIVE,Other,Management
1,0,Depot4Design GmbH,CFO,2019-07,NaN,ACTIVE,Other,Management
2,0,Depot4Design GmbH,Betriebswirtin,2019-07,NaN,ACTIVE,Other,Professional
3,0,Depot4Design GmbH,Prokuristin,2019-07,NaN,ACTIVE,Other,Management
4,0,Depot4Design GmbH,CFO,2019-07,NaN,ACTIVE,Other,Management
5,0,Nagel Car Group,Buchhalterin,2000-05,2019-06,INACTIVE,Other,Professional
6,1,Computer Solutions,Solutions Architect,2024-03,NaN,ACTIVE,Information Technology,Professional
7,1,Computer Solutions,Senior Network Engineer,2019-07,2024-03,INACTIVE,Information Technology,Senior
8,1,Texas A&M University-Corpus Christi,Manager of Network Services,2017-02,2019-07,INACTIVE,Information Technology,Professional
9,1,Texas A&M University-Corpus Christi,Infrastructure Administrator II,2015-06,2017-02,INACTIVE,Information Technology,Professional
10,1,Texas A&M University at Qatar,Lead Network Engineer,2012-12,2015-06,INACTIVE,Information Technology,Lead
11,1,Texas A&M University at Qatar,Senior Systems Administrator,2010-02,2012-12,INACTIVE,Information Technology,Senior
12,1,Texas A&M Forest Service,Network Systems Administrator II,2006-04,2010-02,INACTIVE,Information Technology,Professional
13,1,MicroAge College Station,Support Specialist,2002-10,2006-04,INACTIVE,Customer Support,Professional
14,2,Udo Weber,Medizintechnik Beratung,2025-01,NaN,ACTIVE,Consulting,Professional
15,2,Med 360°,Projektleiter Medizintechnik,2023-01,2024-12,INACTIVE,Project Management,Lead
16,2,Philips,Nationaler Account-Manager,1987-04,2022-12,INACTIVE,Sales,Professional
17,3,Grupo Viajes Kontiki.,Director expansión de negocio.,2024-09,NaN,ACTIVE,Business Development,Director
18,3,Air & Ground Operations Consultancy,Gerente comercial,2024-04,NaN,ACTIVE,Sales,Lead
19,3,Viajes Oceano S.L.,Administrador Unico,2010-12,NaN,ACTIVE,Administrative,Professional

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2638 entries, 0 to 2637
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   person_id     2638 non-null   int64
 1   organization  2638 non-null   object
 2   position      2638 non-null   object
 3   startDate     2520 non-null   object
 4   endDate       1897 non-null   object
 5   status        2638 non-null   object
 6   department    2638 non-null   object
 7   seniority     2638 non-null   object
dtypes: int64(1), object(7)
memory usage: 165.0+ KB

In [7]:
dpt = pd.read_csv("/content/DataScienceCapstoneProject/department-v2.csv")

In [10]:
dpt['label'].drop_duplicates()

0                    Marketing
1           Project Management
171             Administrative
202       Business Development
374                 Consulting
476            Human Resources
487     Information Technology
2609                     Other
2613                Purchasing
2636                     Sales
3454          Customer Support
Name: label, dtype: object

In [11]:
import re

BOW = dict()

for label in dpt['label'].drop_duplicates() :
  x = []
  for text in dpt[dpt["label"] == label]["text"]:
    tokens = re.split(r"[ ./&-()|-]", text.lower().strip())
    tokens = [t for t in tokens if t]
    x.extend(tokens)
  BOW[label] = list(set(x))

In [12]:
label

'Customer Support'

In [13]:
df["WordAppearance"] = 0
df["PredictedPosition_BOW"] =""

In [44]:
import re

def split_position(text):
  # add an empty space before capital letters
  #text = re.sub(r'(?<!^)(?=[A-Z])', " ", text)

  # Lowercase and split on space, /, &, -
  return re.split(r'[ /&-]+',text.lower().strip())

In [45]:
df["position_words"] = df["position"].apply(split_position)

In [46]:
df["position_words"]

0                                             [prokurist]
1                                                   [cfo]
2                                        [betriebswirtin]
3                                           [prokuristin]
4                                                   [cfo]
                              ...
2633                                          [justitiar]
2634                                    [geschäftsführer]
2635                                          [präsidium]
2636                                       [rechtsanwalt]
2637    [auszubildender, zum, kaufmann, für, dialogmar...
Name: position_words, Length: 2638, dtype: object

In [17]:
for label, BOW_words in BOW.items():
  bow_set = set(BOW_words)
  # Count how many words of the position appear in the bag of words of the label
  for idx,words in df["position_words"].items():
    count=sum(word in bow_set for word in words)
        # Update prediction if the current word count is greater than the previous one
    if count > df.at[idx, "WordAppearance"] :
      df.at[idx, "WordAppearance"] = count
      df.at[idx, "PredictedPosition_BOW"] = label

# TF-IDF with Sklearn

In [ ]:
# The performance using only bag of words for classification is very terrible.
# Let's try TFIDF method.

In [19]:
corpus = []
labels = []

for key, value in BOW.items():
  labels.append(key)
  corpus.append(value)

In [20]:
len(corpus)

11

In [21]:
from sklearn.feature_extraction.text import TfidfVectorizer
# turn seperated words into a string sentence in each corpus
corpus = [" ".join(doc) for doc in corpus]
titles = labels

vectorizer = TfidfVectorizer(ngram_range=(1,1), lowercase=True)
vector = vectorizer.fit_transform(corpus)

In [ ]:
dict(zip(vectorizer.get_feature_names_out(), vector.toarray()[0]))

In [23]:
tfidf_df = pd.DataFrame(vector.toarray(), index = titles, columns = vectorizer.get_feature_names_out())

In [24]:
tfidf_df.shape

(11, 3405)

In [25]:
tfidf_df.columns

Index(['10', '1st', '2010', '2020', '2h', '365', '3d', '3rd', '42he', '4hana',
       ...
       'öffentliche', 'öffentlichk', 'öffentlichke', 'öffentlichkeit',
       'öffentlichkeitsarbeit', 'öffentlichkeitsmarketing', 'öpnv',
       'österreich', 'özkazanc', '高级营销专家'],
      dtype='object', length=3405)

In [ ]:
# for label, BOW_words in BOW.items():
#   bow_set = set(BOW_words)
#   # Count how many words of the position appear in the bag of words of the label
#   for idx,words in df["position_words"].items():
#     count=sum(word in bow_set for word in words)
#         # Update prediction if the current word count is greater than the previous one
#     if count > df.at[idx, "WordAppearance"] :
#       df.at[idx, "WordAppearance"] = count
#       df.at[idx, "PredictedPosition_BOW"] = label

In [26]:
df["Tfidf_score"] = 0
df["tfidf_predict"] = " "

In [27]:
for idx, words in df["position_words"].items():
  for label in tfidf_df.index :
    score = 0
    for word in words :
      if word in list(tfidf_df.columns) and (tfidf_df.at[label,word] != 0) :
        score = score + tfidf_df.at[label,word]
    if score > df.at[idx, "Tfidf_score"]:
      df.at[idx, "Tfidf_score"] = score
      df.at[idx, "tfidf_predict"] = label

/tmp/ipython-input-2041765854.py:8: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '0.013857517247410037' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.at[idx, "Tfidf_score"] = score

# Cosine Similarity

In [28]:
df

,person_id,organization,position,startDate,endDate,status,department,seniority,WordAppearance,PredictedPosition_BOW,position_words,Tfidf_score,tfidf_predict
0,0,Depot4Design GmbH,Prokurist,2019-08,NaN,ACTIVE,Other,Management,1,Marketing,[prokurist],0.101070,Purchasing
1,0,Depot4Design GmbH,CFO,2019-07,NaN,ACTIVE,Other,Management,2,Marketing,"[c, f, o]",0.000000,
2,0,Depot4Design GmbH,Betriebswirtin,2019-07,NaN,ACTIVE,Other,Professional,1,Marketing,[betriebswirtin],0.027526,Marketing
3,0,Depot4Design GmbH,Prokuristin,2019-07,NaN,ACTIVE,Other,Management,1,Marketing,[prokuristin],0.130022,Other
4,0,Depot4Design GmbH,CFO,2019-07,NaN,ACTIVE,Other,Management,2,Marketing,"[c, f, o]",0.000000,
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2633,607,Bistum,Justitiar,2014-03,NaN,ACTIVE,Other,Professional,0,,[justitiar],0.000000,
2634,607,FORESTA Management,Geschäftsführer,2010-01,NaN,ACTIVE,Other,Management,1,Marketing,[geschäftsführer],0.118184,Other
2635,607,Malteser Hilfsdienst,Präsidium,1999,NaN,ACTIVE,Other,Management,0,,[präsidium],0.000000,
2636,607,Spies & Brunner RAe,Rechtsanwalt,1995-01,NaN,ACTIVE,Other,Professional,0,,[rechtsanwalt],0.000000,
2637,608,Musikhaus Thomann,Auszubildender zum Kaufmann für Dialogmarketing,2012-09,2015-04,INACTIVE,Marketing,Junior,4,Sales,"[auszubildender, zum, kaufmann, für, dialogmar...",0.090542,Information Technology

In [ ]:
#####################################################################################

In [31]:
# Cosine similarity

from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity
# turn seperated words into a string sentence in each corpus
# corpus = [" ".join(doc) for doc in corpus]
# titles = labels

# vectorizer = TfidfVectorizer(ngram_range=(1,1))
# vector = vectorizer.fit_transform(corpus)
# Since we have fit the vectorize before, we only need to transform it.

X_positions = vectorizer.transform(df['position'])
similarity = cosine_similarity(X_positions, tfidf_df)

import numpy as np
df["cosine_predict"] = tfidf_df.index[similarity.argmax(axis = 1)]
df["cosine_ifidf_score"] = similarity.max(axis = 1)

In [43]:
df.to_csv("/content/DataScienceCapstoneProject/Cosine-Position-Predict.csv",sep = ";")

In [33]:
df.head(20)

,person_id,organization,position,startDate,endDate,status,department,seniority,WordAppearance,PredictedPosition_BOW,position_words,Tfidf_score,tfidf_predict,cosine_predict,cosine_ifidf_score
0,0,Depot4Design GmbH,Prokurist,2019-08,NaN,ACTIVE,Other,Management,1,Marketing,[prokurist],0.101070,Purchasing,Purchasing,0.101070
1,0,Depot4Design GmbH,CFO,2019-07,NaN,ACTIVE,Other,Management,2,Marketing,"[c, f, o]",0.000000,,Information Technology,0.040914
2,0,Depot4Design GmbH,Betriebswirtin,2019-07,NaN,ACTIVE,Other,Professional,1,Marketing,[betriebswirtin],0.027526,Marketing,Marketing,0.027526
3,0,Depot4Design GmbH,Prokuristin,2019-07,NaN,ACTIVE,Other,Management,1,Marketing,[prokuristin],0.130022,Other,Other,0.130022
4,0,Depot4Design GmbH,CFO,2019-07,NaN,ACTIVE,Other,Management,2,Marketing,"[c, f, o]",0.000000,,Information Technology,0.040914
5,0,Nagel Car Group,Buchhalterin,2000-05,2019-06,INACTIVE,Other,Professional,1,Marketing,[buchhalterin],0.027526,Marketing,Marketing,0.027526
6,1,Computer Solutions,Solutions Architect,2024-03,NaN,ACTIVE,Information Technology,Professional,2,Marketing,"[solutions, architect]",0.087197,Customer Support,Customer Support,0.052291
7,1,Computer Solutions,Senior Network Engineer,2019-07,2024-03,INACTIVE,Information Technology,Senior,3,Marketing,"[senior, network, engineer]",0.175371,Customer Support,Customer Support,0.086038
8,1,Texas A&M University-Corpus Christi,Manager of Network Services,2017-02,2019-07,INACTIVE,Information Technology,Professional,4,Marketing,"[manager, of, network, services]",0.242680,Purchasing,Purchasing,0.096169
9,1,Texas A&M University-Corpus Christi,Infrastructure Administrator II,2015-06,2017-02,INACTIVE,Information Technology,Professional,4,Marketing,"[infrastructure, administrator, i, i]",0.130022,Other,Other,0.060989
10,1,Texas A&M University at Qatar,Lead Network Engineer,2012-12,2015-06,INACTIVE,Information Technology,Lead,3,Marketing,"[lead, network, engineer]",0.175371,Customer Support,Customer Support,0.086038
11,1,Texas A&M University at Qatar,Senior Systems Administrator,2010-02,2012-12,INACTIVE,Information Technology,Senior,3,Marketing,"[senior, systems, administrator]",0.175371,Customer Support,Customer Support,0.098787
12,1,Texas A&M Forest Service,Network Systems Administrator II,2006-04,2010-02,INACTIVE,Information Technology,Professional,5,Marketing,"[network, systems, administrator, i, i]",0.112614,Human Resources,Human Resources,0.042115
13,1,MicroAge College Station,Support Specialist,2002-10,2006-04,INACTIVE,Customer Support,Professional,2,Marketing,"[support, specialist]",0.184935,Customer Support,Customer Support,0.131973
14,2,Udo Weber,Medizintechnik Beratung,2025-01,NaN,ACTIVE,Consulting,Professional,2,Sales,"[medizintechnik, beratung]",0.081609,Consulting,Consulting,0.064164
15,2,Med 360°,Projektleiter Medizintechnik,2023-01,2024-12,INACTIVE,Project Management,Lead,2,Consulting,"[projektleiter, medizintechnik]",0.134242,Consulting,Consulting,0.097109
16,2,Philips,Nationaler Account-Manager,1987-04,2022-12,INACTIVE,Sales,Professional,3,Information Technology,"[nationaler, account, manager]",0.149239,Customer Support,Customer Support,0.062692
17,3,Grupo Viajes Kontiki.,Director expansión de negocio.,2024-09,NaN,ACTIVE,Business Development,Director,2,Marketing,"[director, expansión, de, negocio.]",0.098885,Other,Other,0.059860
18,3,Air & Ground Operations Consultancy,Gerente comercial,2024-04,NaN,ACTIVE,Sales,Lead,1,Marketing,"[gerente, comercial]",0.027526,Marketing,Marketing,0.027526
19,3,Viajes Oceano S.L.,Administrador Unico,2010-12,NaN,ACTIVE,Administrative,Professional,0,,"[administrador, unico]",0.000000,,Marketing,0.000000

In [34]:
df.columns

Index(['person_id', 'organization', 'position', 'startDate', 'endDate',
       'status', 'department', 'seniority', 'WordAppearance',
       'PredictedPosition_BOW', 'position_words', 'Tfidf_score',
       'tfidf_predict', 'cosine_predict', 'cosine_ifidf_score'],
      dtype='object')

In [41]:
accuracy = {}

accuracy["BOW_accuracy"] = round(len(df[df['department']==df["PredictedPosition_BOW"]])/len(df),5)
accuracy["TFIDF_accuracy"] = round(len(df[df['department']==df["tfidf_predict"]])/len(df),5)
accuracy["CosineSimilarity_accuracy"] = round(len(df[df['department']==df["cosine_predict"]])/len(df),5)

In [42]:
accuracy

{'BOW_accuracy': 0.06785,
 'TFIDF_accuracy': 0.23692,
 'CosineSimilarity_accuracy': 0.24375}